In [2]:
#Setup 
import pandas as pd

In [3]:
#File to load 
pizza_df = "/Users/shakhnoza/Downloads/pizza_sales.csv"
pizza_data = pd.read_csv(pizza_df)
pizza_data.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,01-01-2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,01-01-2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,01-01-2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,01-01-2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,01-01-2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [4]:
pizza_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pizza_id           48620 non-null  int64
 1   order_id           48620 non-null  int64
 2   pizza_name_id      48620 non-null  object
 3   quantity           48620 non-null  int64
 4   order_date         48620 non-null  object
 5   order_time         48620 non-null  object
 6   unit_price         48620 non-null  float64
 7   total_price        48620 non-null  float64
 8   pizza_size         48620 non-null  object
 9   pizza_category     48620 non-null  object
 10  pizza_ingredients  48620 non-null  object
 11  pizza_name         48620 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 4.5+ MB

In [10]:
pizza_data['order_date']=pd.to_datetime(pizza_data['order_date'], format = '%d-%m-%Y')
print(pizza_data.dtypes)

pizza_id                      int64
order_id                      int64
pizza_name_id                object
quantity                      int64
order_date           datetime64[ns]
order_time           datetime64[ns]
unit_price                  float64
total_price                 float64
pizza_size                   object
pizza_category               object
pizza_ingredients            object
pizza_name                   object
dtype: object

In [11]:
print(pizza_data)

       pizza_id  order_id  pizza_name_id  quantity order_date  \
0             1         1     hawaiian_m         1 2015-01-01
1             2         2  classic_dlx_m         1 2015-01-01
2             3         2  five_cheese_l         1 2015-01-01
3             4         2    ital_supr_l         1 2015-01-01
4             5         2     mexicana_m         1 2015-01-01
...         ...       ...            ...       ...        ...
48615     48616     21348  ckn_alfredo_m         1 2015-12-31
48616     48617     21348  four_cheese_l         1 2015-12-31
48617     48618     21348   napolitana_s         1 2015-12-31
48618     48619     21349     mexicana_l         1 2015-12-31
48619     48620     21350      bbq_ckn_s         1 2015-12-31

               order_time  unit_price  total_price pizza_size pizza_category  \
0     2024-06-13 11:38:36       13.25        13.25     Medium        Classic
1     2024-06-13 11:57:40       16.00        16.00     Medium        Classic
2     2024-06-13 11:57:40       18.50        18.50      Large         Veggie
3     2024-06-13 11:57:40       20.75        20.75      Large        Supreme
4     2024-06-13 11:57:40       16.00        16.00     Medium         Veggie
...                   ...         ...          ...        ...            ...
48615 2024-06-13 21:23:10       16.75        16.75     Medium        Chicken
48616 2024-06-13 21:23:10       17.95        17.95      Large         Veggie
48617 2024-06-13 21:23:10       12.00        12.00    Regular        Classic
48618 2024-06-13 22:09:54       20.25        20.25      Large         Veggie
48619 2024-06-13 23:02:05       12.75        12.75    Regular        Chicken

                                       pizza_ingredients  \
0               Sliced Ham, Pineapple, Mozzarella Cheese
1      Pepperoni, Mushrooms, Red Onions, Red Peppers,...
2      Mozzarella Cheese, Provolone Cheese, Smoked Go...
3      Calabrese Salami, Capocollo, Tomatoes, Red Oni...
4      Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
...                                                  ...
48615  Chicken, Red Onions, Red Peppers, Mushrooms, A...
48616  Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...
48617  Tomatoes, Anchovies, Green Olives, Red Onions,...
48618  Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
48619  Barbecued Chicken, Red Peppers, Green Peppers,...

                       pizza_name
0              The Hawaiian Pizza
1        The Classic Deluxe Pizza
2           The Five Cheese Pizza
3       The Italian Supreme Pizza
4              The Mexicana Pizza
...                           ...
48615   The Chicken Alfredo Pizza
48616       The Four Cheese Pizza
48617        The Napolitana Pizza
48618          The Mexicana Pizza
48619  The Barbecue Chicken Pizza

[48620 rows x 12 columns]

In [12]:
pizza_data['order_time']=pd.to_datetime(pizza_data['order_time'],format='%H:%M:%S').dt.time
print(pizza_data.dtypes)

pizza_id                      int64
order_id                      int64
pizza_name_id                object
quantity                      int64
order_date           datetime64[ns]
order_time                   object
unit_price                  float64
total_price                 float64
pizza_size                   object
pizza_category               object
pizza_ingredients            object
pizza_name                   object
dtype: object

In [13]:
print(pizza_data)

       pizza_id  order_id  pizza_name_id  quantity order_date order_time  \
0             1         1     hawaiian_m         1 2015-01-01   11:38:36
1             2         2  classic_dlx_m         1 2015-01-01   11:57:40
2             3         2  five_cheese_l         1 2015-01-01   11:57:40
3             4         2    ital_supr_l         1 2015-01-01   11:57:40
4             5         2     mexicana_m         1 2015-01-01   11:57:40
...         ...       ...            ...       ...        ...        ...
48615     48616     21348  ckn_alfredo_m         1 2015-12-31   21:23:10
48616     48617     21348  four_cheese_l         1 2015-12-31   21:23:10
48617     48618     21348   napolitana_s         1 2015-12-31   21:23:10
48618     48619     21349     mexicana_l         1 2015-12-31   22:09:54
48619     48620     21350      bbq_ckn_s         1 2015-12-31   23:02:05

       unit_price  total_price pizza_size pizza_category  \
0           13.25        13.25     Medium        Classic
1           16.00        16.00     Medium        Classic
2           18.50        18.50      Large         Veggie
3           20.75        20.75      Large        Supreme
4           16.00        16.00     Medium         Veggie
...           ...          ...        ...            ...
48615       16.75        16.75     Medium        Chicken
48616       17.95        17.95      Large         Veggie
48617       12.00        12.00    Regular        Classic
48618       20.25        20.25      Large         Veggie
48619       12.75        12.75    Regular        Chicken

                                       pizza_ingredients  \
0               Sliced Ham, Pineapple, Mozzarella Cheese
1      Pepperoni, Mushrooms, Red Onions, Red Peppers,...
2      Mozzarella Cheese, Provolone Cheese, Smoked Go...
3      Calabrese Salami, Capocollo, Tomatoes, Red Oni...
4      Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
...                                                  ...
48615  Chicken, Red Onions, Red Peppers, Mushrooms, A...
48616  Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...
48617  Tomatoes, Anchovies, Green Olives, Red Onions,...
48618  Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
48619  Barbecued Chicken, Red Peppers, Green Peppers,...

                       pizza_name
0              The Hawaiian Pizza
1        The Classic Deluxe Pizza
2           The Five Cheese Pizza
3       The Italian Supreme Pizza
4              The Mexicana Pizza
...                           ...
48615   The Chicken Alfredo Pizza
48616       The Four Cheese Pizza
48617        The Napolitana Pizza
48618          The Mexicana Pizza
48619  The Barbecue Chicken Pizza

[48620 rows x 12 columns]

In [14]:
pizza_data['pizza_size'] = pizza_data['pizza_size'].replace({'S': 'Regular', 'M': 'Medium', 'L': 'Large', 'XL': 'X-Large', 'XXL': 'XX-Large'})

In [15]:
pizza_data

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,Medium,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,Medium,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,Large,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,Large,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,Medium,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
...,...,...,...,...,...,...,...,...,...,...,...,...
48615,48616,21348,ckn_alfredo_m,1,2015-12-31,21:23:10,16.75,16.75,Medium,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
48616,48617,21348,four_cheese_l,1,2015-12-31,21:23:10,17.95,17.95,Large,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
48617,48618,21348,napolitana_s,1,2015-12-31,21:23:10,12.00,12.00,Regular,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
48618,48619,21349,mexicana_l,1,2015-12-31,22:09:54,20.25,20.25,Large,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
48619,48620,21350,bbq_ckn_s,1,2015-12-31,23:02:05,12.75,12.75,Regular,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza

In [16]:
pizza_data.to_csv('pizza_data.csv', index = False)